In [1]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy  as np

# Load the pyplot collection of functions from matplotlib, as plt 

import matplotlib as plt

In [2]:
datafile='diabetic_data_initial.csv'
df = pd.read_csv(datafile)
id_file ='id_mapping.csv'
id = pd.read_csv(id_file)
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [3]:
id.head()

  ID mappings for the diabetes dataset  ? - always means a missing value
0                    admission_type_id                       description
1                                    1                         Emergency
2                                    2                            Urgent
3                                    3                          Elective
4                                    4                           Newborn

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             101766 non-null  object
 23  A1Cresult                 101766 non-null  object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [5]:
id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 2 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID mappings for the diabetes dataset  66 non-null     object
 1    ? - always means a missing value     63 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [6]:
df.isna().sum()

encounter_id                0
patient_nbr                 0
race                        0
gender                      0
age                         0
weight                      0
admission_type_id           0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
payer_code                  0
medical_specialty           0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
examide                     0
citoglipton                 0
insulin                     0
glyburide-metformin         0
glipizide-metformin         0
glimepiride-pioglitazone    0
metformin-rosiglitazone     0
metformin-pioglitazone      0
change                      0
diabetesMed                 0
readmitted                  0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
column_names = df.columns.tolist()
# create unique() calls for each column
for column_name in column_names:
    unique_values = df[column_name].unique()
    print("Unique values in column",column_name,unique_values)

Unique values in column encounter_id [  2278392    149190     64410 ... 443854148 443857166 443867222]
Unique values in column patient_nbr [  8222157  55629189  86047875 ... 140199494 120975314 175429310]
Unique values in column race ['Caucasian' 'AfricanAmerican' '?' 'Other' 'Asian' 'Hispanic']
Unique values in column gender ['Female' 'Male' 'Unknown/Invalid']
Unique values in column age ['[0-10)' '[10-20)' '[20-30)' '[30-40)' '[40-50)' '[50-60)' '[60-70)'
 '[70-80)' '[80-90)' '[90-100)']
Unique values in column weight ['?' '[75-100)' '[50-75)' '[0-25)' '[100-125)' '[25-50)' '[125-150)'
 '[175-200)' '[150-175)' '>200']
Unique values in column admission_type_id [6 1 2 3 4 5 8 7]
Unique values in column discharge_disposition_id [25  1  3  6  2  5 11  7 10  4 14 18  8 13 12 16 17 22 23  9 20 15 24 28
 19 27]
Unique values in column admission_source_id [ 1  7  2  4  5  6 20  3 17  8  9 14 10 22 11 25 13]
Unique values in column time_in_hospital [ 1  3  2  4  5 13 12  9  7 10  6 11  8 14]
Unique values in column payer_code ['?' 'MC' 'MD' 'HM' 'UN' 'BC' 'SP' 'CP' 'SI' 'DM' 'CM' 'CH' 'PO' 'WC' 'OT'
 'OG' 'MP' 'FR']
Unique values in column medical_specialty ['Pediatrics-Endocrinology' '?' 'InternalMedicine'
 'Family/GeneralPractice' 'Cardiology' 'Surgery-General' 'Orthopedics'
 'Gastroenterology' 'Surgery-Cardiovascular/Thoracic' 'Nephrology'
 'Orthopedics-Reconstructive' 'Psychiatry' 'Emergency/Trauma'
 'Pulmonology' 'Surgery-Neuro' 'Obsterics&Gynecology-GynecologicOnco'
 'ObstetricsandGynecology' 'Pediatrics' 'Hematology/Oncology'
 'Otolaryngology' 'Surgery-Colon&Rectal' 'Pediatrics-CriticalCare'
 'Endocrinology' 'Urology' 'Psychiatry-Child/Adolescent'
 'Pediatrics-Pulmonology' 'Neurology' 'Anesthesiology-Pediatric'
 'Radiology' 'Pediatrics-Hematology-Oncology' 'Psychology' 'Podiatry'
 'Gynecology' 'Oncology' 'Pediatrics-Neurology' 'Surgery-Plastic'
 'Surgery-Thoracic' 'Surgery-PlasticwithinHeadandNeck' 'Ophthalmology'
 'Surgery-Pediatric' 'Pediatrics-EmergencyMedicine'
 'PhysicalMedicineandRehabilitation' 'InfectiousDiseases' 'Anesthesiology'
 'Rheumatology' 'AllergyandImmunology' 'Surgery-Maxillofacial'
 'Pediatrics-InfectiousDiseases' 'Pediatrics-AllergyandImmunology'
 'Dentistry' 'Surgeon' 'Surgery-Vascular' 'Osteopath'
 'Psychiatry-Addictive' 'Surgery-Cardiovascular' 'PhysicianNotFound'
 'Hematology' 'Proctology' 'Obstetrics' 'SurgicalSpecialty' 'Radiologist'
 'Pathology' 'Dermatology' 'SportsMedicine' 'Speech' 'Hospitalist'
 'OutreachServices' 'Cardiology-Pediatric' 'Perinatology'
 'Neurophysiology' 'Endocrinology-Metabolism' 'DCPTEAM' 'Resident']
Unique values in column num_lab_procedures [ 41  59  11  44  51  31  70  73  68  33  47  62  60  55  49  75  45  29
  35  42  66  36  19  64  25  53  52  87  27  37  46  28  48  72  10   2
  65  67  40  54  58  57  43  32  83  34  39  69  38  56  22  96  78  61
  88  50   1  18  82   9  63  24  71  77  81  76  90  93   3 103  13  80
  85  16  15  12  30  23  17  21  79  26   5  95  97  84  14  74 105  86
  98  20   6  94   8 102 100   7  89  91  92   4 101  99 114 113 111 129
 107 108 106 104 109 120 132 121 126 118]
Unique values in column num_procedures [0 5 1 6 2 3 4]
Unique values in column num_medications [ 1 18 13 16  8 21 12 28 17 11 15 31  2 23 19  7 20 14 10 22  9 27 25  4
 32  6 30 26 24 33  5 39  3 29 61 40 46 41 36 34 35 50 43 42 37 51 38 45
 54 52 49 62 55 47 44 53 48 57 59 56 60 63 58 70 67 64 69 65 68 66 81 79
 75 72 74]
Unique values in column number_outpatient [ 0  2  1  5  7  9  3  8  4 12 11  6 20 15 10 13 14 16 21 35 17 29 36 18
 19 27 22 24 42 39 34 26 33 25 23 28 37 38 40]
Unique values in column number_emergency [ 0  1  2  4  3  9  5  7  6  8 22 25 10 13 42 16 11 28 15 14 18 12 21 20
 19 46 76 37 64 63 54 24 29]
Unique values in column number_inpatient [ 0  1  2  3  6  5  4  7  8  9 15 10 11 14 12 13 17 16 21 18 19]
Unique values in column diag_1 ['250.83' '276' '648' '8' '197' '414' '428' '398' '434' '250.7' '157'
 '518' '999' '410' '682' '402' '737' '572' 'V57' '189' '786' '427' '996'
 '277' '584' '462' '473' '411' '174' '486' '998' '511' '432' '626' '295'
 '196' '250.6' '618' '182' '845' '423' '808' '250.4' '722' '403' '250.11'
 '784' '707' '440' '151' '715' '997' '198' '564' '812' '38' '590' '556'
 '578' '250.32' '433' 'V58' '569' '185' '536' '255' '250.13' '599' '558'
 '574' '491' '560' '244' '250.03' '577' '730' '188' '824' '250.8' '332'
 '562' '291' '296' '510' '401' '263' '438' '70' '250.02' '493' '642' '625'
 '571' '738' '593' '250.42' '807' '456' '446' '575' '250.41' '820' '515'
 '780' '250.22' '995' '235' '250.82' '721' '787' '162' '724' '282' '514'
 'V55' '281' '250.33' '530' '466' '435' '250.12' 'V53' '789' '566' '822'
 '191' '557' '733' '455' '711' '482' '202' '280' '553' '225' '154' '441'
 '250.81' '349' '?' '962' '592' '507' '386' '156' '200' '728' '348' '459'
 '426' '388' '607' '337' '82' '531' '596' '288' '656' '573' '492' '220'
 '516' '210' '922' '286' '885' '958' '661' '969' '250.93' '227' '112'
 '404' '823' '532' '416' '346' '535' '453' '250' '595' '211' '303'
 '250.01' '852' '218' '782' '540' '457' '285' '431' '340' '550' '54' '351'
 '601' '723' '555' '153' '443' '380' '204' '424' '241' '358' '694' '331'
 '345' '681' '447' '290' '158' '579' '436' '335' '309' '654' '805' '799'
 '292' '183' '78' '851' '458' '586' '311' '892' '305' '293' '415' '591'
 '794' '803' '79' '655' '429' '278' '658' '598' '729' '585' '444' '604'
 '727' '214' '552' '284' '680' '708' '41' '644' '481' '821' '413' '437'
 '968' '756' '632' '359' '275' '512' '781' '420' '368' '522' '294' '825'
 '135' '304' '320' '250.31' '669' '868' '496' '250.43' '826' '567' '3'
 '203' '53' '251' '565' '161' '495' '49' '250.1' '297' '663' '576' '355'
 '850' '287' '250.2' '611' '840' '350' '726' '537' '620' '180' '366' '783'
 '11' '751' '716' '250.3' '199' '464' '580' '836' '664' '283' '813' '966'
 '289' '965' '184' '480' '608' '333' '972' '212' '117' '788' '924' '959'
 '621' '238' '785' '714' '942' '250.23' '710' '47' '933' '508' '478' '844'
 '7' '736' '233' '42' '250.5' '397' '395' '201' '421' '253' '250.92' '600'
 '494' '977' '39' '659' '312' '614' '647' '652' '646' '274' '861' '425'
 '527' '451' '485' '217' '250.53' '442' '970' '193' '160' '322' '581'
 '475' '623' '374' '582' '568' '465' '801' '237' '376' '150' '461' '913'
 '226' '617' '987' '641' '298' '790' '336' '362' '228' '513' '383' '746'
 '353' '911' '506' '873' '155' '860' '534' '802' '141' 'V45' '396' '310'
 '341' '242' '719' '239' '533' '616' '519' '301' 'V66' '5' '989' '230'
 '385' '300' '853' '871' '570' '848' '463' '9' '934' '250.21' '236' '361'
 '594' '501' '810' '643' '430' '528' '205' '791' '983' '992' '490' '172'
 '171' '622' '306' '863' '864' '474' '660' '759' '356' '634' '967' '551'
 '695' '187' '732' '747' '323' '308' '370' '252' '152' '846' '164' '365'
 '718' '48' '266' '720' '94' '344' '797' '170' '878' '904' 'V56' '882'
 '843' '709' '973' '454' '686' '939' '487' '229' '991' '483' '357' '692'
 '796' '693' '935' '936' '800' '920' 'V26' '261' '307' '262' '250.9' '831'
 '145' '223' 'V71' '839' '685' 'V54' '35' '34' '179' '964' '136' '324'
 '389' '815' '334' '143' '526' '588' '192' 'V67' '394' '917' '88' '219'
 '325' '792' '717' '994' '990' '793' '207' '637' '195' '373' '847' '827'
 '31' '891' '814' 'V60' '703' '865' '352' '627' '378' '342' '886' '369'
 '745' '705' '816' '541' '986' '610' '633' '640' '753' '173' '835' '379'
 '445' '272' '382' '945' '619' '881' '250.52' '866' '405' '916' '215'
 '893' '75' '671' '928' '906' '897' '725' '867' '115' '890' '734' '521'
 '674' '470' '834' '146' '696' '524' '980' '691' '384' '142' '879'
 '250.51' '246' '208' '448' '955' '653' '149' '245' '735' '883' '854'
 '952' '838' '194' 'V43' '163' '216' '147' '354' '27' '477' '318' '880'
 '921' '377' '471' '683' '175' '602' '250.91' '982' '706' '375' '417'
 '131' '347' '870' '148' '862' '61' '817' '914' '360' '684' '314' 'V63'
 '36' '57' '240' '915' '971' '795' '988' '452' '963' '327' '731' '842'
 'V25' '645' '665' '110' '944' '603' '923' '412' '363' '957' '976' '698'
 '299' '700' '273' '974' '97' '529' '66' '98' '605' '941' '52' '806' '84'
 '271' '837' '657' '895' '338' '523' '542' '114' '543' '372' 'V70' 'E909'
 '583' 'V07' '422' '615' '279' '500' '903' '919' '875' '381' '804' '704'
 '23' '58' '649' '832' '133' '975' '833' '391' '690' '10' 'V51']
Unique values in column diag_2 ['?' '250.01' '250' '250.43' '157' '411' '492' '427' '198' '403' '288'
 '998' '507' '174' '425' '456' '401' '715' '496' '428' '585' '250.02'
 '410' '999' '996' '135' '244' '41' '571' '276' '997' '599' '424' '491'
 '553' '707' '286' '440' '493' '242' '70' 'V45' '250.03' '357' '511' '196'
 '396' '197' '414' '250.52' '577' '535' '413' '285' '53' '780' '518' '150'
 '566' '250.6' '867' '486' 'V15' '8' '788' '340' '574' '581' '228' '530'
 '250.82' '786' '294' '567' '785' '512' '305' '729' '250.51' '280' '648'
 '560' '618' '444' '38' 'V10' '578' '277' '781' '250.42' '278' '426' '584'
 '462' '402' '153' '272' '733' '34' '881' '203' '250.41' '250.13' '293'
 '245' '250.12' '558' '787' '342' '573' '626' '303' '250.53' '458' '710'
 '415' 'V42' '284' '569' '759' '682' '112' '292' '435' '290' '250.93'
 '642' '536' '398' '319' '711' 'E878' '446' '255' 'V44' '250.7' '784'
 '300' '562' '162' '287' '447' '789' '790' '591' '200' '154' '304' '117'
 '847' '852' '250.83' '250.11' '816' '575' '416' '412' '441' '515' '372'
 '482' '382' 'V65' '572' '283' '78' '250.81' '576' '432' '595' '295' 'V12'
 '204' '466' '721' '434' '590' '271' '813' '368' '227' '783' '250.5' '258'
 '253' '309' '250.91' '519' '333' '459' '250.92' '250.4' '179' '420' '345'
 '433' '661' '537' '205' '722' '405' '437' '714' '211' 'E812' '263' '202'
 '397' '250.23' 'E932' '201' '301' '723' '614' '568' '861' 'V57' '724'
 '189' '297' '453' 'E888' '730' '354' '451' '738' 'E939' '805' 'V43' '155'
 '910' '218' '358' '220' 'E937' '583' '958' '794' '564' '436' '250.22'
 '620' '621' '331' '617' '596' '314' '378' '250.8' '625' '478' '731' '172'
 '404' '681' '470' '279' '281' '531' '443' '799' '337' '311' '719' 'E944'
 '423' 'E870' '465' 'E849' '782' '481' '480' 'V23' '199' '79' '438' '348'
 '42' 'E950' '473' '627' '726' '54' '490' '317' '332' '508' '369' '600'
 '349' '485' '208' '922' '431' '296' 'E934' '753' 'E935' '386' '728' '607'
 'E915' '344' '716' '289' '191' '873' '850' '611' '377' '352' '616' 'V17'
 '136' '455' '933' 'E885' '860' '513' '603' '484' '223' 'V72' '291' '151'
 'V58' '550' '510' '891' '185' '592' '791' '138' '598' '336' '362' '217'
 '825' '298' '821' 'E880' '343' '429' 'E879' '579' '225' '250.9' 'V49'
 '696' '233' '658' '969' '275' '250.1' '601' '704' '808' 'E890' 'V18'
 '920' '380' '570' 'E817' '359' '812' '274' 'V14' '324' '758' 'V66' '911'
 'E931' 'E924' '593' '792' '727' 'V46' '394' '532' 'V64' '557' '864' '718'
 'E942' '807' '604' '924' '820' '580' '273' '241' '282' '824' 'V61' '646'
 '701' '736' '565' '383' '250.2' 'E947' '452' '872' '905' 'E930' '921'
 '131' '448' '389' '421' '214' '705' '494' '752' '623' '9' '299' '959'
 '365' '967' 'E858' '40' '691' '909' '5' '814' '746' '250.31' '556' '680'
 '745' '351' '306' '110' '695' '552' '346' '918' '882' '947' '520' '188'
 '31' '356' '737' 'V08' '322' '182' '517' '974' 'E929' 'V53' '912' '252'
 '608' '516' 'E933' '94' '702' '923' '594' '647' '111' '934' '430' '487'
 '709' '796' '156' '977' '915' '756' '840' '341' '259' '693' '725' 'V62'
 '528' '683' '953' '457' '501' 'E900' 'V09' '522' '919' '461' '506' '193'
 '483' 'E936' '717' '802' '335' 'V54' '320' '945' '906' '239' '454' '826'
 '823' 'E941' '226' '795' '684' '844' '250.33' '308' '615' '588' '712'
 '663' '706' '833' '741' '713' '533' 'E884' '586' '555' '755' 'E928' '742'
 '869' '962' 'V11' '543' '373' '870' '913' '152' '810' '965' '907' '908'
 '995' '845' '474' '442' '751' '323' '472' '464' '686' '250.32' '540'
 '251' '811' '652' '659' '851' '422' '815' '307' '325' '463' '992' '692'
 '521' '917' 'E965' '524' '916' 'E813' '173' '238' '137' '514' '312' '837'
 '355' '980' '622' '475' '500' '754' '261' '801' '868' '968' '381' '11'
 '250.21' '694' '610' '734' 'E814' '310' '130' '246' '892' '846' '634'
 '75' 'E927' 'E905' '183' '379' 'E917' '163' 'E868' '495' '747' '989'
 'E854' '240' '832' '605' '602' '644' 'V16' '35' 'V70' '376' '266' 'E918'
 '619' '477' '656' '46' '883' '171' 'V13' '698' '842' 'E850' '800' '269'
 '664' 'E887' '952' '164' 'E881' '527' '685' '366' '836' '27' 'V63' '865'
 '793' '232' '990' '52' '831' '327' '542' '806' '972' '862' 'E829' 'E919'
 '944' 'E916' '963' '316' '645' '347' 'V85' '374' 'V02' '748' '256' '186'
 '866' '975' '96' '395' '262' 'E819' '654' '994' '318' 'E826' '879' '674'
 '641' '822' '145' '797' '353' 'E938' 'E816' '948' '987' '99' '192'
 '250.3' 'E906' '534' '115' 'E818' 'E980' '360' '338' '529' '871' '750'
 '212' '302' '955' '141' '88' 'V25' '215' '350' 'V50' 'V03' 'E853' 'E968'
 'E882' '140' '703' '991' '893' 'E821' '235' 'V69' '670' '195' 'V55' '388'
 '268' '894' '114' '260' '853' '7' '880' 'V86' '180' 'E945' '523' '863'
 '649' '270' '665' '460' '942' '364' '66' 'E883' '123' '884' 'V60' '843'
 '927']
Unique values in column diag_3 ['?' '255' 'V27' '403' '250' 'V45' '38' '486' '996' '197' '250.6' '427'
 '627' '414' '416' '714' '428' '582' 'V43' '250.01' '263' '250.42' '276'
 '482' '401' '250.41' '585' '781' '278' '998' '568' '682' '618' '250.02'
 '305' '707' '496' '599' '715' '424' '518' '553' '794' '411' 'V42' '531'
 '511' '490' '562' '250.8' '250.7' '250.52' '784' '491' '581' '420' '8'
 '724' '730' '789' '131' '250.82' '999' '41' '493' '250.03' '753' '786'
 '529' 'E888' '425' '595' '303' '560' '711' '492' '332' '296' '438' '362'
 '250.4' '654' '244' 'V70' '737' '625' '681' '250.51' '404' 'V10' '810'
 '280' '440' '785' '588' '569' '272' '997' '250.43' '918' '584' '54' '788'
 '426' '722' '250.92' '196' '461' '535' '787' '891' '284' '458' '648'
 '780' '182' '285' '593' '413' '664' '564' '201' '356' 'V15' '292' '782'
 '473' '455' 'E932' '357' '348' '294' '250.23' '459' 'E878' '437' '733'
 '507' '525' '250.53' '397' '572' '805' '453' '331' '736' '402' '591'
 '576' '465' '533' '703' '349' '315' '658' '608' '578' '716' '382' '300'
 '282' '571' '536' '596' '287' '644' 'V11' '558' 'E885' '162' '198' '218'
 '412' '396' 'V14' '570' '433' 'E934' '882' '288' '577' '443' '729' '836'
 '295' '799' '281' '304' '153' '410' '616' '250.83' '601' '291' '75' '512'
 '660' '250.5' '598' '337' '574' '653' 'V58' '311' '415' '386' '602' '790'
 '112' '873' '620' '436' '70' '155' '138' '663' '530' '710' '42' '342'
 '250.91' 'E884' '515' '307' '704' '728' '731' '583' '238' '441' '293'
 '573' '532' '290' '594' '319' '250.13' '250.12' '519' '346' '380' '135'
 '642' '698' '924' '905' 'E933' '555' '309' 'E879' '286' '565' '752' '580'
 '446' '444' '344' '252' '35' '813' '394' '301' '575' '258' 'V17' '802'
 '435' '746' 'V12' '709' '881' 'E935' '139' '250.81' '718' '365' '202'
 '334' '185' '398' 'V44' '517' 'E849' '614' '466' '626' '250.9' '368'
 '605' '883' '289' '478' '617' '429' '442' 'V25' '866' '610' '557' '959'
 'E942' '94' '920' '345' '313' '379' '79' '516' '586' '821' '600' '242'
 '373' '592' 'V64' '487' '253' '706' 'E947' '117' '340' 'E950' '656'
 'E949' '590' 'V09' '250.22' '934' '694' '203' '250.93' '995' '726' '923'
 '958' '275' 'E929' '211' 'V18' 'V66' '199' '665' '53' '279' '522' '791'
 '890' '456' 'E938' 'E816' '122' '721' 'V65' '136' '480' '423' 'E920'
 '793' '647' '537' '351' '845' '336' '274' '719' '945' '434' '494' '227'
 '157' '208' '174' 'V57' '812' '734' '150' 'V23' '447' '692' '228' 'V16'
 '756' '405' 'E928' '823' '552' '528' '389' '240' '454' '792' '366' 'E939'
 '907' '270' '310' '266' '387' 'E931' '783' '245' '607' '355' 'E930' '705'
 '372' '369' '611' '283' 'V46' '110' '867' 'E956' '251' '250.2' '820'
 '712' '695' '567' '343' '723' 'V08' '273' '623' '807' '451' '495' '701'
 '34' 'V53' '314' '472' 'E945' '11' '189' '534' '354' '333' 'V54' '277'
 '659' '708' '452' '655' '816' '670' '621' '246' '953' '865' 'E817' '646'
 '151' '378' '78' '298' '840' '641' '521' '745' '619' '912' '506' 'E904'
 '259' 'E870' 'E980' '383' '204' '696' '566' '727' '47' 'E943' '358' '191'
 '965' '921' '432' '27' 'E861' '758' '477' '524' '751' '652' '556' '188'
 '825' '919' '732' '908' '951' '962' '685' 'E850' 'E944' '527' '341' '693'
 '250.1' 'V49' '860' '323' 'V55' '579' '508' '969' '205' '462' 'E880'
 '680' '697' '826' '200' '457' '717' '738' '742' '735' '235' '308' '725'
 '241' '824' '464' '260' '917' '239' '661' '892' '261' 'E883' '943' '744'
 'E936' '796' '318' '967' '350' '854' 'E905' '9' '741' 'E941' '170' '643'
 '317' '759' '909' 'V22' '831' '713' '180' '801' '360' '359' '501' '335'
 '250.11' '306' '811' '690' 'V02' '271' '214' '847' '543' 'V63' '906'
 '842' '686' '445' '808' '861' 'E852' '220' 'E887' 'E858' '915' '970'
 '256' '747' '395' '243' '815' '481' '5' 'E927' '297' '299' '851' '864'
 '922' '384' 'E876' '225' '158' 'E937' '871' '88' '966' 'E917' 'E812'
 'V62' 'E924' '604' '233' 'E916' '377' '797' 'V72' '172' '7' '421' '852'
 'E819' '972' '916' '956' '3' 'E965' '173' '193' '154' '347' '862' '250.3'
 '987' '470' '262' 'E855' '161' '115' '179' '910' '312' '17' '460' '265'
 '66' '163' 'V60' '870' 'E906' '514' '944' '844' '417' '152' '183' '991'
 '216' '385' '164' '935' '510' '814' '485' '850' '250.21' 'E919' '872'
 '195' '431' '597' '933' '171' '884' '156' '868' '483' 'E815' '542' 'V61'
 '853' '374' 'E881' 'E882' 'E822' '192' '754' '327' '523' '500' 'V85'
 '992' '657' '684' '603' 'E826' '550' '913' '376' '755' '361' '186' '720'
 '250.31' '674' '911' 'E813' '226' '365.44' 'E818' '146' '955' 'E894'
 '475' 'V13' '880' '930' 'E915' '381' '132' '353' '795' '893' 'V01' 'E853'
 '863' '540' 'E828' '430' '800' 'E865' '148' 'E946' '822' '879' '848'
 'V86' 'V03' '338' '989' '388' 'E966' '111' 'E922' '123' '757' 'E901'
 '141' '268' 'E892' '649' '702' '948' '223' '484' 'E886' '838' '928' '236'
 '624' '837' 'E987' 'V07' '841' '622' 'E912' 'E955' '463' 'V06' 'E864'
 '217' '877' '391' 'E825' '952' '669' '875' 'E900' '215' '538' '980' '834'
 '448' '175' '49' '876' '230' '57' 'E854' '942' '14' '750' '370' '671'
 '971']
Unique values in column number_diagnoses [ 1  9  6  7  5  8  3  4  2 16 12 13 15 10 11 14]
Unique values in column max_glu_serum ['None' '>300' 'Norm' '>200']
Unique values in column A1Cresult ['None' '>7' '>8' 'Norm']
Unique values in column metformin ['No' 'Steady' 'Up' 'Down']
Unique values in column repaglinide ['No' 'Up' 'Steady' 'Down']
Unique values in column nateglinide ['No' 'Steady' 'Down' 'Up']
Unique values in column chlorpropamide ['No' 'Steady' 'Down' 'Up']
Unique values in column glimepiride ['No' 'Steady' 'Down' 'Up']
Unique values in column acetohexamide ['No' 'Steady']
Unique values in column glipizide ['No' 'Steady' 'Up' 'Down']
Unique values in column glyburide ['No' 'Steady' 'Up' 'Down']
Unique values in column tolbutamide ['No' 'Steady']
Unique values in column pioglitazone ['No' 'Steady' 'Up' 'Down']
Unique values in column rosiglitazone ['No' 'Steady' 'Up' 'Down']
Unique values in column acarbose ['No' 'Steady' 'Up' 'Down']
Unique values in column miglitol ['No' 'Steady' 'Down' 'Up']
Unique values in column troglitazone ['No' 'Steady']
Unique values in column tolazamide ['No' 'Steady' 'Up']
Unique values in column examide ['No']
Unique values in column citoglipton ['No']
Unique values in column insulin ['No' 'Up' 'Steady' 'Down']
Unique values in column glyburide-metformin ['No' 'Steady' 'Down' 'Up']
Unique values in column glipizide-metformin ['No' 'Steady']
Unique values in column glimepiride-pioglitazone ['No' 'Steady']
Unique values in column metformin-rosiglitazone ['No' 'Steady']
Unique values in column metformin-pioglitazone ['No' 'Steady']
Unique values in column change ['No' 'Ch']
Unique values in column diabetesMed ['No' 'Yes']
Unique values in column readmitted ['NO' '>30' '<30']

In [9]:
#Create Look up Tables
id_admission_type = id.iloc[0:9,:]

In [10]:
#Create Look up Tables
discharge_disposition_id = id.iloc[10:41,:]

In [11]:
#Create Look up Tables
admission_source_id = id.iloc[42:68,:]

In [13]:
#Rename Columns
discharge_disposition_id = discharge_disposition_id.rename(columns={'ID mappings for the diabetes dataset': 'discharge_disposition_id', ' ? - always means a missing value': 'discharge_disposition_description'})

In [14]:
#reset index
discharge_disposition_id = discharge_disposition_id.reset_index(drop=True)
#Drop First row
discharge_disposition_id = discharge_disposition_id.drop(0)

In [15]:
#Create look up table.  Reset Index, Drop first Row.
admission_source_id = admission_source_id.rename(columns={'ID mappings for the diabetes dataset': 'admission_source_id', ' ? - always means a missing value': 'admission_source_description'})
admission_source_id = admission_source_id.reset_index(drop=True)
admission_source_id = admission_source_id.drop(0)

In [16]:
#print(discharge_disposition_id.columns)

In [17]:
#Create look up table.  Reset Index, Drop first Row.
admission_type_id =  id_admission_type
admission_type_id = admission_type_id.rename(columns={'ID mappings for the diabetes dataset': 'admission_type_id', ' ? - always means a missing value': 'admission_type_description'})
admission_type_id = admission_type_id.reset_index(drop=True)
admission_type_id = admission_type_id.drop(0)

In [18]:
#Change Datatype to Int
discharge_disposition_id['discharge_disposition_id'] = discharge_disposition_id['discharge_disposition_id'].astype(int)
admission_type_id['admission_type_id'] = admission_type_id['admission_type_id'].astype(int)
admission_source_id['admission_source_id'] = admission_source_id['admission_source_id'].astype(int)

In [19]:
#Change Description Values
discharge_disposition_id['discharge_disposition_description'] = discharge_disposition_id['discharge_disposition_description'].fillna(0)
discharge_disposition_id['discharge_disposition_description'] = np.where(discharge_disposition_id['discharge_disposition_description'] == 'Not Mapped', 'Not Available', discharge_disposition_id['discharge_disposition_description'])
discharge_disposition_id['discharge_disposition_description'] = np.where(discharge_disposition_id['discharge_disposition_description'] == 0, 'Not Available', discharge_disposition_id['discharge_disposition_description'])
discharge_disposition_id['discharge_disposition_description'] = np.where(discharge_disposition_id['discharge_disposition_description'] == 'Unknown/Invalid', 'Not Available', discharge_disposition_id['discharge_disposition_description'])

In [20]:
#Change Unknown Description Values
admission_type_id['admission_type_description'] = admission_type_id['admission_type_description'].fillna(0)
admission_type_id['admission_type_description'] = np.where(admission_type_id['admission_type_description'] == 'Not Mapped', 'Not Available', admission_type_id['admission_type_description'])
admission_type_id['admission_type_description'] = np.where(admission_type_id['admission_type_description'] == 0, 'Not Available', admission_type_id['admission_type_description'])
print(admission_type_id)

   admission_type_id admission_type_description
1                  1                  Emergency
2                  2                     Urgent
3                  3                   Elective
4                  4                    Newborn
5                  5              Not Available
6                  6              Not Available
7                  7              Trauma Center
8                  8              Not Available

In [21]:
#Change Unknown Description Values
admission_source_id['admission_source_description'] = admission_source_id['admission_source_description'].fillna(0)
admission_source_id['admission_source_description'] = np.where(admission_source_id['admission_source_description'] == 'Not Mapped', 'Not Available', admission_source_id['admission_source_description'])
admission_source_id['admission_source_description'] = np.where(admission_source_id['admission_source_description'] == 'Unknown/Invalid', 'Not Available', admission_source_id['admission_source_description'])
admission_source_id['admission_source_description'] = np.where(admission_source_id['admission_source_description'] == 0, 'Not Available', admission_source_id['admission_source_description'])

print(admission_source_id)

    admission_source_id                       admission_source_description
1                     1                                 Physician Referral
2                     2                                    Clinic Referral
3                     3                                       HMO Referral
4                     4                           Transfer from a hospital
5                     5     Transfer from a Skilled Nursing Facility (SNF)
6                     6         Transfer from another health care facility
7                     7                                     Emergency Room
8                     8                              Court/Law Enforcement
9                     9                                      Not Available
10                   10              Transfer from critial access hospital
11                   11                                    Normal Delivery
12                   12                                 Premature Delivery
13                   13                                          Sick Baby
14                   14                                   Extramural Birth
15                   15                                      Not Available
16                   17                                      Not Available
17                   18           Transfer From Another Home Health Agency
18                   19             Readmission to Same Home Health Agency
19                   20                                      Not Available
20                   21                                      Not Available
21                   22  Transfer from hospital inpt/same fac reslt in ...
22                   23                          Born inside this hospital
23                   24                         Born outside this hospital
24                   25            Transfer from Ambulatory Surgery Center
25                   26                              Transfer from Hospice

In [22]:
print(discharge_disposition_id)

    discharge_disposition_id  \
1                          1
2                          2
3                          3
4                          4
5                          5
6                          6
7                          7
8                          8
9                          9
10                        10
11                        11
12                        12
13                        13
14                        14
15                        15
16                        16
17                        17
18                        18
19                        19
20                        20
21                        21
22                        22
23                        23
24                        24
25                        25
26                        26
27                        30
28                        27
29                        28
30                        29

                    discharge_disposition_description
1                                  Discharged to home
2   Discharged/transferred to another short term h...
3                       Discharged/transferred to SNF
4                       Discharged/transferred to ICF
5   Discharged/transferred to another type of inpa...
6   Discharged/transferred to home with home healt...
7                                            Left AMA
8   Discharged/transferred to home under care of H...
9           Admitted as an inpatient to this hospital
10  Neonate discharged to another hospital for neo...
11                                            Expired
12  Still patient or expected to return for outpat...
13                                     Hospice / home
14                         Hospice / medical facility
15  Discharged/transferred within this institution...
16  Discharged/transferred/referred another instit...
17  Discharged/transferred/referred to this instit...
18                                      Not Available
19           Expired at home. Medicaid only, hospice.
20  Expired in a medical facility. Medicaid only, ...
21    Expired, place unknown. Medicaid only, hospice.
22  Discharged/transferred to another rehab fac in...
23  Discharged/transferred to a long term care hos...
24  Discharged/transferred to a nursing facility c...
25                                      Not Available
26                                      Not Available
27  Discharged/transferred to another Type of Heal...
28  Discharged/transferred to a federal health car...
29  Discharged/transferred/referred to a psychiatr...
30  Discharged/transferred to a Critical Access Ho...

In [23]:
print(admission_source_id)

    admission_source_id                       admission_source_description
1                     1                                 Physician Referral
2                     2                                    Clinic Referral
3                     3                                       HMO Referral
4                     4                           Transfer from a hospital
5                     5     Transfer from a Skilled Nursing Facility (SNF)
6                     6         Transfer from another health care facility
7                     7                                     Emergency Room
8                     8                              Court/Law Enforcement
9                     9                                      Not Available
10                   10              Transfer from critial access hospital
11                   11                                    Normal Delivery
12                   12                                 Premature Delivery
13                   13                                          Sick Baby
14                   14                                   Extramural Birth
15                   15                                      Not Available
16                   17                                      Not Available
17                   18           Transfer From Another Home Health Agency
18                   19             Readmission to Same Home Health Agency
19                   20                                      Not Available
20                   21                                      Not Available
21                   22  Transfer from hospital inpt/same fac reslt in ...
22                   23                          Born inside this hospital
23                   24                         Born outside this hospital
24                   25            Transfer from Ambulatory Surgery Center
25                   26                              Transfer from Hospice

In [24]:
print(admission_source_id)

    admission_source_id                       admission_source_description
1                     1                                 Physician Referral
2                     2                                    Clinic Referral
3                     3                                       HMO Referral
4                     4                           Transfer from a hospital
5                     5     Transfer from a Skilled Nursing Facility (SNF)
6                     6         Transfer from another health care facility
7                     7                                     Emergency Room
8                     8                              Court/Law Enforcement
9                     9                                      Not Available
10                   10              Transfer from critial access hospital
11                   11                                    Normal Delivery
12                   12                                 Premature Delivery
13                   13                                          Sick Baby
14                   14                                   Extramural Birth
15                   15                                      Not Available
16                   17                                      Not Available
17                   18           Transfer From Another Home Health Agency
18                   19             Readmission to Same Home Health Agency
19                   20                                      Not Available
20                   21                                      Not Available
21                   22  Transfer from hospital inpt/same fac reslt in ...
22                   23                          Born inside this hospital
23                   24                         Born outside this hospital
24                   25            Transfer from Ambulatory Surgery Center
25                   26                              Transfer from Hospice

In [25]:
print(admission_type_id)

   admission_type_id admission_type_description
1                  1                  Emergency
2                  2                     Urgent
3                  3                   Elective
4                  4                    Newborn
5                  5              Not Available
6                  6              Not Available
7                  7              Trauma Center
8                  8              Not Available

In [26]:
#Perform Merge to bring look up tables into the main DataFrame
merged_df = pd.merge(df, discharge_disposition_id, on='discharge_disposition_id',how='inner')
merged_df = pd.merge(merged_df, admission_source_id, on='admission_source_id',how='inner')
merged_df = pd.merge(merged_df, admission_type_id, on='admission_type_id',how='inner')

In [27]:
merged_df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,discharge_disposition_description,admission_source_description,admission_type_description
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,NO,Not Available,Physician Referral,Not Available
1,1968528,720936,Caucasian,Female,[70-80),?,6,25,1,10,...,No,No,No,No,Ch,Yes,>30,Not Available,Physician Referral,Not Available
2,2223336,558360,AfricanAmerican,Female,[60-70),?,6,25,1,9,...,No,No,No,No,No,No,NO,Not Available,Physician Referral,Not Available
3,2298006,2519748,Caucasian,Male,[60-70),?,6,25,1,4,...,No,No,No,No,Ch,Yes,NO,Not Available,Physician Referral,Not Available
4,2356308,608841,AfricanAmerican,Female,[50-60),?,6,25,1,1,...,No,No,No,No,No,Yes,>30,Not Available,Physician Referral,Not Available

In [28]:
merged_df.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [30]:
print(merged_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101766 entries, 0 to 101765
Data columns (total 53 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   encounter_id                       101766 non-null  int64
 1   patient_nbr                        101766 non-null  int64
 2   race                               101766 non-null  object
 3   gender                             101766 non-null  object
 4   age                                101766 non-null  object
 5   weight                             101766 non-null  object
 6   admission_type_id                  101766 non-null  int64
 7   discharge_disposition_id           101766 non-null  int64
 8   admission_source_id                101766 non-null  int64
 9   time_in_hospital                   101766 non-null  int64
 10  payer_code                         101766 non-null  object
 11  medical_specialty                  101766 non-null  object
 12  num_lab_procedures                 101766 non-null  int64
 13  num_procedures                     101766 non-null  int64
 14  num_medications                    101766 non-null  int64
 15  number_outpatient                  101766 non-null  int64
 16  number_emergency                   101766 non-null  int64
 17  number_inpatient                   101766 non-null  int64
 18  diag_1                             101766 non-null  object
 19  diag_2                             101766 non-null  object
 20  diag_3                             101766 non-null  object
 21  number_diagnoses                   101766 non-null  int64
 22  max_glu_serum                      101766 non-null  object
 23  A1Cresult                          101766 non-null  object
 24  metformin                          101766 non-null  object
 25  repaglinide                        101766 non-null  object
 26  nateglinide                        101766 non-null  object
 27  chlorpropamide                     101766 non-null  object
 28  glimepiride                        101766 non-null  object
 29  acetohexamide                      101766 non-null  object
 30  glipizide                          101766 non-null  object
 31  glyburide                          101766 non-null  object
 32  tolbutamide                        101766 non-null  object
 33  pioglitazone                       101766 non-null  object
 34  rosiglitazone                      101766 non-null  object
 35  acarbose                           101766 non-null  object
 36  miglitol                           101766 non-null  object
 37  troglitazone                       101766 non-null  object
 38  tolazamide                         101766 non-null  object
 39  examide                            101766 non-null  object
 40  citoglipton                        101766 non-null  object
 41  insulin                            101766 non-null  object
 42  glyburide-metformin                101766 non-null  object
 43  glipizide-metformin                101766 non-null  object
 44  glimepiride-pioglitazone           101766 non-null  object
 45  metformin-rosiglitazone            101766 non-null  object
 46  metformin-pioglitazone             101766 non-null  object
 47  change                             101766 non-null  object
 48  diabetesMed                        101766 non-null  object
 49  readmitted                         101766 non-null  object
 50  discharge_disposition_description  101766 non-null  object
 51  admission_source_description       101766 non-null  object
 52  admission_type_description         101766 non-null  object
dtypes: int64(13), object(40)
memory usage: 41.9+ MB
None

In [33]:
merged_df['weight'] = np.where(merged_df['weight'] =='?', 0, merged_df['weight'])

In [34]:
print(merged_df['weight'].value_counts())

0            98569
[75-100)      1336
[50-75)        897
[100-125)      625
[125-150)      145
[25-50)         97
[0-25)          48
[150-175)       35
[175-200)       11
>200             3
Name: weight, dtype: int64

In [35]:
#Find all unique values for certain columns

# list of columns to exclude
exclude = ['encounter_id','patient_nbr','admission_type_id','discharge_disposition_id','admission_source_id'] 

# list of column names excluding the specified columns
columns = [col for col in merged_df.columns if col not in exclude]

#column_names = merged_df.columns.tolist()
for column_name in columns:
    unique_values = merged_df[column_name].value_counts()
    print("Unique values in column/n",column_name,unique_values,end='\r')

Unique values in column/n race Caucasian          76099
AfricanAmerican    19210
?                   2273
Hispanic            2037
Other               1506
Asian                641
Unique values in column/n gender Female             54708
Male               47055
Unknown/Invalid        3
Unique values in column/n age [70-80)     26068
[60-70)     22483
[50-60)     17256
[80-90)     17197
[40-50)      9685
[30-40)      3775
[90-100)     2793
[20-30)      1657
[10-20)       691
[0-10)        161
Unique values in column/n weight 0            98569
[75-100)      1336
[50-75)        897
[100-125)      625
[125-150)      145
[25-50)         97
[0-25)          48
[150-175)       35
[175-200)       11
>200             3
Unique values in column/n time_in_hospital 3     17756
2     17224
1     14208
4     13924
5      9966
6      7539
7      5859
8      4391
9      3002
10     2342
11     1855
12     1448
13     1210
14     1042
Unique values in column/n payer_code ?     40256
MC    32439
HM     6274
SP     5007
BC     4655
MD     3532
CP     2533
UN     2448
CM     1937
OG     1033
PO      592
DM      549
CH      146
WC      135
OT       95
MP       79
SI       55
FR        1
Unique values in column/n medical_specialty ?                                   49949
InternalMedicine                    14635
Emergency/Trauma                     7565
Family/GeneralPractice               7440
Cardiology                           5352
                                    ...
Perinatology                            1
Surgery-PlasticwithinHeadandNeck        1
Neurophysiology                         1
Psychiatry-Addictive                    1
Pediatrics-InfectiousDiseases           1
Unique values in column/n num_lab_procedures 1      3208
43     2804
44     2496
45     2376
38     2213
       ...
107       1
118       1
129       1
120       1
121       1
Unique values in column/n num_procedures 0    46652
1    20742
2    12717
3     9443
6     4954
4     4180
5     3078
Unique values in column/n num_medications 13    6086
12    6004
11    5795
15    5792
14    5707
      ...
70       2
75       2
79       1
81       1
74       1
Unique values in column/n number_outpatient 0     85027
1      8547
2      3594
3      2042
4      1099
5       533
6       303
7       155
8        98
9        83
10       57
11       42
13       31
12       30
14       28
15       20
16       15
17        8
21        7
20        7
18        5
22        5
27        3
19        3
24        3
35        2
23        2
29        2
36        2
26        2
33        2
25        2
34        1
28        1
37        1
38        1
40        1
42        1
39        1
Unique values in column/n number_emergency 0     90383
1      7677
2      2042
3       725
4       374
5       192
6        94
7        73
8        50
10       34
9        33
11       23
13       12
12       10
22        6
18        5
16        5
20        4
19        4
14        3
15        3
21        2
25        2
42        1
29        1
37        1
28        1
54        1
76        1
63        1
64        1
46        1
24        1
Unique values in column/n number_inpatient 0     67630
1     19521
2      7566
3      3411
4      1622
5       812
6       480
7       268
8       151
9       111
10       61
11       49
12       34
13       20
14       10
15        9
16        6
19        2
17        1
21        1
18        1
Unique values in column/n diag_1 428    6862
414    6581
786    4016
410    3614
486    3508
       ...
640       1
219       1
V67       1
389       1
870       1
Unique values in column/n diag_2 276     6752
428     6662
250     6071
427     5036
401     3736
        ...
271        1
665        1
894        1
670        1
E882       1
Unique values in column/n diag_3 250     11555
401      8289
276      5175
428      4577
427      3955
        ...
671         1
538         1
217         1
E828        1
E904        1
Unique values in column/n number_diagnoses 9     49474
5     11393
8     10616
7     10393
6     10161
4      5537
3      2835
2      1023
1       219
16       45
10       17
13       16
11       11
15       10
12        9
14        7
Unique values in column/n max_glu_serum None    96420
Norm     2597
>200     1485
>300     1264
Unique values in column/n A1Cresult None    84748
>8       8216
Norm     4990
>7       3812
Unique values in column/n metformin No        81778
Steady    18346
Up         1067
Down        575
Unique values in column/n repaglinide No        100227
Steady      1384
Up           110
Down          45
Unique values in column/n nateglinide No        101063
Steady       668
Up            24
Down          11
Unique values in column/n chlorpropamide No        101680
Steady        79
Up             6
Down           1
Unique values in column/n glimepiride No        96575
Steady     4670
Up          327
Down        194
Unique values in column/n acetohexamide No        101765
Steady         1
Unique values in column/n glipizide No        89080
Steady    11356
Up          770
Down        560
Unique values in column/n glyburide No        91116
Steady     9274
Up          812
Down        564
Unique values in column/n tolbutamide No        101743
Steady        23
Unique values in column/n pioglitazone No        94438
Steady     6976
Up          234
Down        118
Unique values in column/n rosiglitazone No        95401
Steady     6100
Up          178
Down         87
Unique values in column/n acarbose No        101458
Steady       295
Up            10
Down           3
Unique values in column/n miglitol No        101728
Steady        31
Down           5
Up             2
Unique values in column/n troglitazone No        101763
Steady         3
Unique values in column/n tolazamide No        101727
Steady        38
Up             1
Unique values in column/n examide No    101766
Unique values in column/n citoglipton No    101766
Unique values in column/n insulin No        47383
Steady    30849
Down      12218
Up        11316
Unique values in column/n glyburide-metformin No        101060
Steady       692
Up             8
Down           6
Unique values in column/n glipizide-metformin No        101753
Steady        13
Unique values in column/n glimepiride-pioglitazone No        101765
Steady         1
Unique values in column/n metformin-rosiglitazone No        101764
Steady         2
Unique values in column/n metformin-pioglitazone No        101765
Steady         1
Unique values in column/n change No    54755
Ch    47011
Unique values in column/n diabetesMed Yes    78363
No     23403
Unique values in column/n readmitted NO     54864
>30    35545
<30    11357
Unique values in column/n discharge_disposition_description Discharged to home                                                                                           60234
Discharged/transferred to SNF                                                                                13954
Discharged/transferred to home with home health service                                                      12902
Not Available                                                                                                 4680
Discharged/transferred to another short term hospital                                                         2128
Discharged/transferred to another rehab fac including rehab units of a hospital .                             1993
Expired                                                                                                       1642
Discharged/transferred to another type of inpatient care institution                                          1184
Discharged/transferred to ICF                                                                                  815
Left AMA                                                                                                       623
Discharged/transferred to a long term care hospital.                                                           412
Hospice / home                                                                                                 399
Hospice / medical facility                                                                                     372
Discharged/transferred/referred to a psychiatric hospital of psychiatric distinct part unit of a hospital      139
Discharged/transferred to home under care of Home IV provider                                                  108
Discharged/transferred within this institution to Medicare approved swing bed                                   63
Discharged/transferred to a nursing facility certified under Medicaid but not certified under Medicare.         48
Admitted as an inpatient to this hospital                                                                       21
Discharged/transferred/referred to this institution for outpatient services                                     14
Discharged/transferred/referred another institution for outpatient services                                     11
Expired at home. Medicaid only, hospice.                                                                         8
Neonate discharged to another hospital for neonatal aftercare                                                    6
Discharged/transferred to a federal health care facility.                                                        5
Still patient or expected to return for outpatient services                                                      3
Expired in a medical facility. Medicaid only, hospice.                                                           2
Unique values in column/n admission_source_description Emergency Room                                               57494
Physician Referral                                           29565
Not Available                                                 7067
Transfer from a hospital                                      3187
Transfer from another health care facility                    2264
Clinic Referral                                               1104
Transfer from a Skilled Nursing Facility (SNF)                 855
HMO Referral                                                   187
Court/Law Enforcement                                           16
Transfer from hospital inpt/same fac reslt in a sep claim       12
Transfer from critial access hospital                            8
Normal Delivery                                                  2
Extramural Birth                                                 2
Transfer from Ambulatory Surgery Center                          2
Sick Baby                                                        1
Unique values in column/n admission_type_description Emergency        53990
Elective         18869
Urgent           18480
Not Available    10396
Trauma Center       21
Newborn             10

In [36]:
merged_df['race'] = np.where(merged_df['race'] =='?', 'Other', merged_df['race'])

In [37]:
merged_df['gender'] = np.where(merged_df['gender'] =='Unknown/Invalid', 'Other', merged_df['gender'])

In [38]:
merged_df['payer_code'] = np.where(merged_df['payer_code'] =='?', 'NaN', merged_df['payer_code'])

In [39]:
merged_df['medical_specialty'] = np.where(merged_df['medical_specialty'] =='?', 'NaN', merged_df['medical_specialty'])

In [40]:
merged_df['diag_1'] = np.where(merged_df['diag_1'] =='?', 'NaN', merged_df['diag_1'])
merged_df['diag_2'] = np.where(merged_df['diag_2'] =='?', 'NaN', merged_df['diag_2'])
merged_df['diag_3'] = np.where(merged_df['diag_3'] =='?', 'NaN', merged_df['diag_3'])
merged_df['max_glu_serum'] = np.where(merged_df['max_glu_serum'] =='None', 'NaN', merged_df['max_glu_serum'])
merged_df['A1Cresult'] = np.where(merged_df['A1Cresult'] =='None', 'NaN', merged_df['A1Cresult'])

In [41]:
# Run again to ensure changes in unknown data have been completed. 
#list of columns to exclude
exclude = ['encounter_id','patient_nbr','admission_type_id','discharge_disposition_id','admission_source_id'] 

# list of column names excluding the specified columns
columns = [col for col in merged_df.columns if col not in exclude]

#column_names = merged_df.columns.tolist()
for column_name in columns:
    unique_values = merged_df[column_name].value_counts()
    print("Unique values in column",column_name,'\n',unique_values,end='\r')

Unique values in column race
 Caucasian          76099
AfricanAmerican    19210
Other               3779
Hispanic            2037
Asian                641
Unique values in column gender
 Female    54708
Male      47055
Other         3
Unique values in column age
 [70-80)     26068
[60-70)     22483
[50-60)     17256
[80-90)     17197
[40-50)      9685
[30-40)      3775
[90-100)     2793
[20-30)      1657
[10-20)       691
[0-10)        161
Unique values in column weight
 0            98569
[75-100)      1336
[50-75)        897
[100-125)      625
[125-150)      145
[25-50)         97
[0-25)          48
[150-175)       35
[175-200)       11
>200             3
Unique values in column time_in_hospital
 3     17756
2     17224
1     14208
4     13924
5      9966
6      7539
7      5859
8      4391
9      3002
10     2342
11     1855
12     1448
13     1210
14     1042
Unique values in column payer_code 4
 NaN    40256
MC     32439
HM      6274
SP      5007
BC      4655
MD      3532
CP      2533
UN      2448
CM      1937
OG      1033
PO       592
DM       549
CH       146
WC       135
OT        95
MP        79
SI        55
FR         1
Unique values in column medical_specialty
 NaN                                 49949
InternalMedicine                    14635
Emergency/Trauma                     7565
Family/GeneralPractice               7440
Cardiology                           5352
                                    ...
Perinatology                            1
Surgery-PlasticwithinHeadandNeck        1
Neurophysiology                         1
Psychiatry-Addictive                    1
Pediatrics-InfectiousDiseases           1
Unique values in column num_lab_procedures  int64
 1      3208
43     2804
44     2496
45     2376
38     2213
       ...
107       1
118       1
129       1
120       1
121       1
Unique values in column num_procedures dtype: int64
 0    46652
1    20742
2    12717
3     9443
6     4954
4     4180
5     3078
Unique values in column num_medications
 13    6086
12    6004
11    5795
15    5792
14    5707
      ...
70       2
75       2
79       1
81       1
74       1
Unique values in column number_outpatient int64
 0     85027
1      8547
2      3594
3      2042
4      1099
5       533
6       303
7       155
8        98
9        83
10       57
11       42
13       31
12       30
14       28
15       20
16       15
17        8
21        7
20        7
18        5
22        5
27        3
19        3
24        3
35        2
23        2
29        2
36        2
26        2
33        2
25        2
34        1
28        1
37        1
38        1
40        1
42        1
39        1
Unique values in column number_emergency
 0     90383
1      7677
2      2042
3       725
4       374
5       192
6        94
7        73
8        50
10       34
9        33
11       23
13       12
12       10
22        6
18        5
16        5
20        4
19        4
14        3
15        3
21        2
25        2
42        1
29        1
37        1
28        1
54        1
76        1
63        1
64        1
46        1
24        1
Unique values in column number_inpatient
 0     67630
1     19521
2      7566
3      3411
4      1622
5       812
6       480
7       268
8       151
9       111
10       61
11       49
12       34
13       20
14       10
15        9
16        6
19        2
17        1
21        1
18        1
Unique values in column diag_1 int64
 428    6862
414    6581
786    4016
410    3614
486    3508
       ...
640       1
219       1
V67       1
389       1
870       1
Unique values in column diag_2 e: int64
 276     6752
428     6662
250     6071
427     5036
401     3736
        ...
271        1
665        1
894        1
670        1
E882       1
Unique values in column diag_3 e: int64
 250     11555
401      8289
276      5175
428      4577
427      3955
        ...
671         1
538         1
217         1
E828        1
E904        1
Unique values in column number_diagnoses
 9     49474
5     11393
8     10616
7     10393
6     10161
4      5537
3      2835
2      1023
1       219
16       45
10       17
13       16
11       11
15       10
12        9
14        7
Unique values in column max_glu_serum
 NaN     96420
Norm     2597
>200     1485
>300     1264
Unique values in column A1Cresult
 NaN     84748
>8       8216
Norm     4990
>7       3812
Unique values in column metformin
 No        81778
Steady    18346
Up         1067
Down        575
Unique values in column repaglinide
 No        100227
Steady      1384
Up           110
Down          45
Unique values in column nateglinide
 No        101063
Steady       668
Up            24
Down          11
Unique values in column chlorpropamide
 No        101680
Steady        79
Up             6
Down           1
Unique values in column glimepiride
 No        96575
Steady     4670
Up          327
Down        194
Unique values in column acetohexamide
 No        101765
Steady         1
Unique values in column glipizide
 No        89080
Steady    11356
Up          770
Down        560
Unique values in column glyburide
 No        91116
Steady     9274
Up          812
Down        564
Unique values in column tolbutamide
 No        101743
Steady        23
Unique values in column pioglitazone
 No        94438
Steady     6976
Up          234
Down        118
Unique values in column rosiglitazone
 No        95401
Steady     6100
Up          178
Down         87
Unique values in column acarbose
 No        101458
Steady       295
Up            10
Down           3
Unique values in column miglitol
 No        101728
Steady        31
Down           5
Up             2
Unique values in column troglitazone
 No        101763
Steady         3
Unique values in column tolazamide
 No        101727
Steady        38
Up             1
Unique values in column examide
 No    101766
Unique values in column citoglipton
 No    101766
Unique values in column insulin
 No        47383
Steady    30849
Down      12218
Up        11316
Unique values in column glyburide-metformin
 No        101060
Steady       692
Up             8
Down           6
Unique values in column glipizide-metformin
 No        101753
Steady        13
Unique values in column glimepiride-pioglitazone
 No        101765
Steady         1
Unique values in column metformin-rosiglitazone
 No        101764
Steady         2
Unique values in column metformin-pioglitazone
 No        101765
Steady         1
Unique values in column change type: int64
 No    54755
Ch    47011
Unique values in column diabetesMed
 Yes    78363
No     23403
Unique values in column readmitted
 NO     54864
>30    35545
<30    11357
Unique values in column discharge_disposition_description
 Discharged to home                                                                                           60234
Discharged/transferred to SNF                                                                                13954
Discharged/transferred to home with home health service                                                      12902
Not Available                                                                                                 4680
Discharged/transferred to another short term hospital                                                         2128
Discharged/transferred to another rehab fac including rehab units of a hospital .                             1993
Expired                                                                                                       1642
Discharged/transferred to another type of inpatient care institution                                          1184
Discharged/transferred to ICF                                                                                  815
Left AMA                                                                                                       623
Discharged/transferred to a long term care hospital.                                                           412
Hospice / home                                                                                                 399
Hospice / medical facility                                                                                     372
Discharged/transferred/referred to a psychiatric hospital of psychiatric distinct part unit of a hospital      139
Discharged/transferred to home under care of Home IV provider                                                  108
Discharged/transferred within this institution to Medicare approved swing bed                                   63
Discharged/transferred to a nursing facility certified under Medicaid but not certified under Medicare.         48
Admitted as an inpatient to this hospital                                                                       21
Discharged/transferred/referred to this institution for outpatient services                                     14
Discharged/transferred/referred another institution for outpatient services                                     11
Expired at home. Medicaid only, hospice.                                                                         8
Neonate discharged to another hospital for neonatal aftercare                                                    6
Discharged/transferred to a federal health care facility.                                                        5
Still patient or expected to return for outpatient services                                                      3
Expired in a medical facility. Medicaid only, hospice.                                                           2
Unique values in column admission_source_description
 Emergency Room                                               57494
Physician Referral                                           29565
Not Available                                                 7067
Transfer from a hospital                                      3187
Transfer from another health care facility                    2264
Clinic Referral                                               1104
Transfer from a Skilled Nursing Facility (SNF)                 855
HMO Referral                                                   187
Court/Law Enforcement                                           16
Transfer from hospital inpt/same fac reslt in a sep claim       12
Transfer from critial access hospital                            8
Normal Delivery                                                  2
Extramural Birth                                                 2
Transfer from Ambulatory Surgery Center                          2
Sick Baby                                                        1
Unique values in column admission_type_description
 Emergency        53990
Elective         18869
Urgent           18480
Not Available    10396
Trauma Center       21
Newborn             10

In [42]:
merged_df['race'] = np.where(merged_df['race'] =='?', 'Other', merged_df['race'])

In [44]:
#Consolidate all missing values in Look up i.e (Not Mapped, Nan, Invalid/Unknown into one value)
merged_df['discharge_disposition_id'] = np.where(merged_df['discharge_disposition_id'] == 25, 18, merged_df['discharge_disposition_id'])

In [45]:
#Consolidate all missing values in Look up i.e (Not Mapped, Nan, Invalid/Unknown into one value)
merged_df['admission_type_id'] = np.where(merged_df['admission_type_id'] == 6, 4, merged_df['admission_type_id'])
merged_df['admission_type_id'] = np.where(merged_df['admission_type_id'] == 8, 4, merged_df['admission_type_id'])

In [46]:
#Consolidate all missing values in Look up i.e (Not Mapped, Nan, Invalid/Unknown into one value)
merged_df['admission_source_id'] = np.where(merged_df['admission_source_id'] == 15, 9, merged_df['admission_source_id'])
merged_df['admission_source_id'] = np.where(merged_df['admission_source_id'] == 17, 9, merged_df['admission_source_id'])
merged_df['admission_source_id'] = np.where(merged_df['admission_source_id'] == 20, 9, merged_df['admission_source_id'])
merged_df['admission_source_id'] = np.where(merged_df['admission_source_id'] == 21, 9, merged_df['admission_source_id'])

In [47]:
merged_df['admission_type_id'].value_counts()

1    53990
3    18869
2    18480
4     5621
5     4785
7       21
Name: admission_type_id, dtype: int64

In [48]:
merged_df['discharge_disposition_id'].value_counts()

1     60234
3     13954
6     12902
18     4680
2      2128
22     1993
11     1642
5      1184
4       815
7       623
23      412
13      399
14      372
28      139
8       108
15       63
24       48
9        21
17       14
16       11
19        8
10        6
27        5
12        3
20        2
Name: discharge_disposition_id, dtype: int64

In [49]:
merged_df['admission_source_id'].value_counts()

7     57494
1     29565
9      7067
4      3187
6      2264
2      1104
5       855
3       187
8        16
22       12
10        8
11        2
14        2
25        2
13        1
Name: admission_source_id, dtype: int64

In [50]:
merged_df.duplicated().value_counts()

False    101766
dtype: int64

In [51]:
merged_df

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,discharge_disposition_description,admission_source_description,admission_type_description
0,2278392,8222157,Caucasian,Female,[0-10),0,4,18,1,1,...,No,No,No,No,No,No,NO,Not Available,Physician Referral,Not Available
1,1968528,720936,Caucasian,Female,[70-80),0,4,18,1,10,...,No,No,No,No,Ch,Yes,>30,Not Available,Physician Referral,Not Available
2,2223336,558360,AfricanAmerican,Female,[60-70),0,4,18,1,9,...,No,No,No,No,No,No,NO,Not Available,Physician Referral,Not Available
3,2298006,2519748,Caucasian,Male,[60-70),0,4,18,1,4,...,No,No,No,No,Ch,Yes,NO,Not Available,Physician Referral,Not Available
4,2356308,608841,AfricanAmerican,Female,[50-60),0,4,18,1,1,...,No,No,No,No,No,Yes,>30,Not Available,Physician Referral,Not Available
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,249703860,71494254,Caucasian,Male,[40-50),0,7,11,7,1,...,No,No,No,No,No,Yes,NO,Expired,Emergency Room,Trauma Center
101762,343730600,141434069,Caucasian,Female,[80-90),0,7,11,7,1,...,No,No,No,No,No,Yes,NO,Expired,Emergency Room,Trauma Center
101763,162365280,59456412,Caucasian,Female,[50-60),0,7,22,7,11,...,No,No,No,No,Ch,Yes,NO,Discharged/transferred to another rehab fac in...,Emergency Room,Trauma Center
101764,182808666,59986746,Caucasian,Male,[50-60),0,7,22,7,8,...,No,No,No,No,Ch,Yes,NO,Discharged/transferred to another rehab fac in...,Emergency Room,Trauma Center
101765,308496164,141501551,Caucasian,Female,[60-70),0,7,22,7,8,...,No,No,No,No,Ch,Yes,NO,Discharged/transferred to another rehab fac in...,Emergency Room,Trauma Center

In [52]:
merged_df.isnull().sum()

encounter_id                         0
patient_nbr                          0
race                                 0
gender                               0
age                                  0
weight                               0
admission_type_id                    0
discharge_disposition_id             0
admission_source_id                  0
time_in_hospital                     0
payer_code                           0
medical_specialty                    0
num_lab_procedures                   0
num_procedures                       0
num_medications                      0
number_outpatient                    0
number_emergency                     0
number_inpatient                     0
diag_1                               0
diag_2                               0
diag_3                               0
number_diagnoses                     0
max_glu_serum                        0
A1Cresult                            0
metformin                            0
repaglinide                          0
nateglinide                          0
chlorpropamide                       0
glimepiride                          0
acetohexamide                        0
glipizide                            0
glyburide                            0
tolbutamide                          0
pioglitazone                         0
rosiglitazone                        0
acarbose                             0
miglitol                             0
troglitazone                         0
tolazamide                           0
examide                              0
citoglipton                          0
insulin                              0
glyburide-metformin                  0
glipizide-metformin                  0
glimepiride-pioglitazone             0
metformin-rosiglitazone              0
metformin-pioglitazone               0
change                               0
diabetesMed                          0
readmitted                           0
discharge_disposition_description    0
admission_source_description         0
admission_type_description           0
dtype: int64